* {
    font-family: "Josefin Sans", sans-serif;
}

body {
    padding: 10px;
    margin: 10px;
    background-color: #191919;
    color:#e6e8e6;
}

header {
    border: 2px solid #bb7e8c;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #553a41;
}

.logo {
    border-radius: 30px;
    width: 60px;
    height: 60px;

}

.nav {
    display: flex;
    gap: 15px;
    margin-right: 150px;
    font-size: 20px;
}

.nav a {
    text-decoration: none;
    color: #e6e8e6;
    transition: 0.3s ;
}

.nav a:hover {
    color: #3a6ea5;
    transform: scale(1.2);
}

.shop-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.search {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #553a41;
    width: 250px;
}

.filterop {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    background: #553a41;
    color: #e6e8e6;
    cursor: pointer;
    transition: 0.2s;
}

.discount {
    border: 2px solid #bb7e8c;
    padding: 10px;
    background-color: #553a41;
    margin-top: 20px;
}


.item {
    text-align: center;
    transition: 0.3s;
}

.item:hover {
    transform: scale(1.06);
}

.item img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.discount-name {
    margin-top: 8px;
    font-size: 16px;
    color: #e6e8e6;
}

.discount-items {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 20px;
}

.discount-price {
    margin-top: 5px;
}

.old-price {
    text-decoration: line-through;
    color: #191919;
    margin-right: 6px;
}

.new-price {
    color: #3a6ea5;
    font-weight: bold;
    margin-right: 6px;
    font-size: 20px;
}

.end1 {
    margin-top: 20px;
    border: 2px solid rgba(187, 126, 140, 0.5);
    padding: 10px;
    display: flex;
    color:#e6e8e6;
    justify-content: space-between;
    background-color: rgba(85, 58, 65, 0.5);
}

.address {
    display: flex;
    align-items: flex-start;
}
